<div class="container-fluid" ng-controller="SearchController as search">
    <h2 class="mt-5">Search Results for '{{search.text}}'</h2>
        <div class="row flex-row mt-4 pb-4 pt-2">
            <image-card class="col-4 col-md-3 col-xl-2 mt-3" ng-repeat="item in search.shows"
                    image="item.show.image.medium" text="item.show.name" ng-click="search.openShow(item.show.id)"></image-card>
        </div>
        <p ng-if="!search.shows.length && search.text">No Search Results Found</p>
</div>